
:root {
  --magenta: #9d1661;
  --blau: #3666b8;
  --menubuttonbarheight: 6rem;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}


#everything {
  width: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: var(--magenta)
}

h2 {
  margin-bottom: 5rem;
}
h2 + h2 {
  margin-top: -3rem;
}

/* on desktop */
@media not all and (max-width: 900px) {
  h2 {
    font-size: 1.7em;
  }
}

h3 {
  font-size: 1.5em;
}

hr {
  color: var(--magenta);
  margin-left: 25%;
  margin-right: 25%;
  border-style: dashed;
}

a {
  color: inherit;
}

.magenta {
  color: var(--magenta);
}

.content img:not([class]) {
  max-width: 90%;
  display: block;
  margin: 0px auto 3rem;
  border-radius: 3rem;
}

/* on desktop */
@media not all and (max-width: 900px) {
  .content {
    max-width: 70rem;
    margin: 0px auto;
  }
}

.content {
  text-align: justify;
}

.content .autor {
  font-size: 70%;
}

.content blockquote {
  color: var(--blau);
  font-size: 110%;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/* on desktop */
@media not all and (max-width: 900px) {
  .content blockquote {
    font-size: 120%;
  }
}


.logo-content {
  display: block;
  max-height: 40vh;
  width: 70%;
  padding: 0px 1rem;
  margin: 2rem auto 4rem auto;
}

.content.kontakt {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.logokontakt {
  width: 25rem;
  max-width: 80%;
  display: block;
  margin: 0 auto 5rem auto;
}


/* menu */
.menuentries a {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.4rem;
}

.menuentries .current {
  color: var(--magenta);
}

.menuentries :hover {
  text-decoration: underline;
}

/* menu on desktop */

.menu.desktop-only .logo img {
  height: 5rem;
  margin: 1rem;
}

.menu.desktop-only {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.desktop-only .menuentries {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0 1rem;
  align-items: center;
}

/* menu on mobile */

.menu.mobile-only {
  position: fixed;
  width: 100%;
}

h2.mobiletoptitle {
  margin: 0px;
}

#menubuttonbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: var(--menubuttonbarheight);
  padding-top: 1rem;
  z-index: 100;
  position: relative;
  background: white;
}

.mobile-only .menuentries {
  background: white;
  z-index: 100;
  position: relative;
}

/* on mobile */
@media (max-width: 900px) {
  .content {
    padding-top: var(--menubuttonbarheight);
    margin: 0 1em;
  }
}

#menubuttonbar .logo, #menubuttonbar .logo img, #menubutton, #menubutton img {
  height: 100%;
}

#menubutton {
  margin-right: 2rem;
}
#menubuttonbar .logo {
  margin-left: 2rem;
}

input#menuC:not(:checked) ~ .menuentries {
  display: none;
}
input#menuC:not(:checked) ~ #menuhidelayer {
  display: none;
}

input#menuC:checked ~ #menuhidelayer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #00000033;
  z-index: 10;
}

.mobile-only .menuentries a {
  display: block;
  text-align: center;
  line-height: 1.4;
}

/* end menu */



/* on desktop */
@media not all and (max-width: 900px) {
  .mobile-only.mobile-only.mobile-only.mobile-only.mobile-only.mobile-only.mobile-only.mobile-only.mobile-only.mobile-only.mobile-only.mobile-only.mobile-only {
    display: none;
  }
}

/* on mobile */
@media (max-width: 900px) {
  .desktop-only.desktop-only.desktop-only.desktop-only.desktop-only.desktop-only.desktop-only.desktop-only.desktop-only.desktop-only.desktop-only.desktop-only {
    display: none;
  }
}
